.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-logo{
  width: 400px
}

h1, h2, h3, h4, h5 ,h6 {
  font-family: 'Titillium Web', sans-serif
}

.home-div {
  margin-left: 5%;
}

.open-gameroom-div {
  margin-left: 5%;
}

.margin-left-5 {
  margin-left: 5%;
  margin-bottom: 0%;
}

.game-room-card {
  margin-bottom: 10%;
}

.home-game-images {
  width: 8vw;
  height: 8vw;
  margin-right: 5%;
}

#open-game-room-h5 {
  margin-top: 0%
}

#open-game-room-h1 {
  margin-bottom: 0%
}

.zoom-url {
  margin-top: 0%;
  margin-left: 5%;
}

.user-list {
  margin-top: 0%;
  margin-bottom: 0%;
}

#home-homebutton {
  margin-left: 90%;
  margin-top: 2%;
}

#no-room-active-text {
  margin-left: 5%;
}

#owned-games-box {
  margin-bottom: 10%;
}